#gallery-header {
  background-image: url('../images/foggy-mountains.jpg');
}

.wrapper {
  width: 100%;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  gap: 1rem;
  width: 100%;
}

.gallery-img {
  aspect-ratio: 1 / 1;
}

.gallery-img a {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 0.25rem;
  overflow: hidden;
}

.gallery-img:hover img {
  transform: scale(1.05);
}

.gallery-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

main h2 {
  margin: 2rem 0;
}