* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  color: rgb(35, 38, 46)
}

header {
  width: 100%;
  height: 350px;
  background-image: url('../images/taipei.jpg');
  background-position: center;
  background-size: cover;
}

nav {
  width: 200px;
  float: left;
}

main {
  background: rgb(160, 189, 228);
  margin-left: 200px;
  margin-top: 0;
  padding: 2rem 1rem;
}

.wrapper {
  overflow: auto;
  background-color: rgb(130, 149, 132);
}

img {
  object-fit: cover;
}

nav {
  padding: 2rem 1rem;
}

nav a {
  color: rgb(10, 39, 20);
}

nav > p {
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  padding: 0.5rem 0;
}

a {
  text-decoration: none;
  color: darkblue
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  margin-top: 0;
}

header {
  text-align: center;
  color: white;
  padding-top: 8rem;
}

h1 {
  font-size: 3rem;
  letter-spacing: 2px;
}

.main-inner {
  overflow: auto;
  margin-bottom: 2rem;
}

.main-inner p {
  margin-right: 500px;
}

.main-inner figure {
  float: right;
}

figcaption {
  margin-top: 0.5rem;
}

.source {
  font-size: 0.75rem;
  color: gray;
  font-style: italic;
}

.three-col-wrapper {
  margin-bottom: 2rem;
}

.three-col-wrapper section {
  width: 33%;
  display: inline-block;
  padding: 0 1rem;
  vertical-align: top;
}

.three-col-wrapper section img {
  width: 100%;
}
.three-col-wrapper figure {
  margin: 0;
}

.title {
  font-weight: bold;
}

.two-col-wrapper {
  display: block;
  overflow: auto;
}

.two-col-wrapper section {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  padding: 1rem;
}
dl {
  display: flex;
  flex-wrap: wrap;
}
dt {
  width: 50%;
}
dd, dt {
  padding: 0.25rem;
  margin: 0;
  border-bottom: 1px solid gray;
}

footer {
  background-color: rgb(130, 149, 132);
  padding: 2rem 1rem;
  text-align: center;
}

footer p:first-child {
  margin-top: 0;
}

footer p:last-child {
  margin-bottom: 0;
}