header {
  background-image: url('/images/k2-1.jpg');
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
}

header h1 {
  background-color: rgba(0,0,0,0.3);
  width: auto;
  padding: 1rem;
}

figure {
  margin: 0;
}

figure img { 
  border-radius: 0.25rem;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
}

.grid-item {
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.137);
  transition: all 0.3s ease;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-item section {
  padding: 1rem;
  background-color: rgba(0,0,0,0.3);
  color: white;
  line-height: 1.2;
}

.grid-item .source {
  color: rgb(196, 196, 196);
}

.grid-item a {
  color: lightblue;
}

.grid-item:hover {
  background-color: rgba(255, 255, 255, 0.237);
} 

.background {
  grid-column: 1 / 3;
  grid-row: 1
}

.k2-mountain {
  background-image: url('/images/k2-mountain.jpg');
  grid-column: 1;
  grid-row: 2;
}

.nangaparbat {
  background-image: url('/images/nangaparbat.jpg');
  grid-column: 1;
  grid-row: 3;
}

.rakaposhi {
  background-image: url('/images/Rakaposhi-mountain.jpg');
  grid-column: 1;
  grid-row: 4;
}

.wildlife {
  background-image: url('/images/snow-leopard.jpg');
  grid-column: 2;
  grid-row: 2;
}

.gemstones {
  background-image: url('/images/ruby.jpg');
  grid-column: 2;
  grid-row: 3;
}