#bookingForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

label {
  font-weight: bold;
}
fieldset {
  margin-bottom: 1rem;
  border: 1px solid rgb(73, 106, 136);
  padding: 1rem;
}

#customer-info {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.buttons button {
  background-color: rgb(130, 149, 132);
  border: 1px solid white;
  padding: 1rem;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttons button:hover {
  background-color: rgb(59, 69, 60);
}

@media screen and (max-width: 500px) {
 #customer-info {
  flex-direction: column;
 } 

 .buttons button {
  padding: 0.5rem;
 }
}
